[
{ 
  "label": "Newest best stories", 
  "data": [
  {% for data in data_best %}
     {{ data }} 
     {% if not forloop.last %} 
     , 
     {% endif %}
  {% endfor %}
  ],
  "yaxis": 1
},
{ 
  "label": "Oldest new stories", 
  "data": [
  {% for data in data_new %}
     {{ data }} 
     {% if not forloop.last %} 
     , 
     {% endif %}
  {% endfor %}
  ], 
  "yaxis": 2
},
{
  "label": "Pickup ratio",
  "data": [
  {% for data in pickup_ratio %}
     {{ data }} 
     {% if not forloop.last %} 
     , 
     {% endif %}
  {% endfor %}
  ], 
  "yaxis": 3 
}
]
