<html>
  <head>
    <title>Hacker News Story Pickup Rate</title>
    <meta name="description" content="When is good time to post on Hacker News? Use Pickup Ratio Recommendation System." />
    <meta name="viewport" content="initial-scale=0.6" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26837634-1']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body onorientationchange="updateOrientation();">
  <div id='main'>
    <h4 id='title'>Hacker News Story Pickup Rate</h4>
    <div id='flip'>
      <div id='grapher'>
        <div id='graph' class='cta'>
	  <div id='error'>Page <span id='timing'>{{ path }}</span> does not exist.</div>
	</div>
      </div>
    </div>
    <a id='back' href='/'>Go to home page</a>
  </div>
  </body>
</html>
