<html>
  <head>
    <title>Hacker News Story Pickup Rate</title>
    <meta name="description" content="When is good time to post on Hacker News? Use Pickup Ratio Recommendation System." />
    <meta name="viewport" content="initial-scale=0.6" />
    <link type="text/css" rel="stylesheet" href="/css/smoothness/jquery-ui-1.8.16.custom.css" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script language="javascript" type="text/javascript" src="/js/jquery/jquery-1.7.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/js/quickflip/jquery.quickflip.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/visualize.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26837634-1']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body onorientationchange="updateOrientation();">
  <div id='main'>
    <h4 id='title'>Hacker News Story Pickup Rate</h4>
    <div id='flip'>
      <div id='grapher'>
        <div id='graph' class='cta'>
	  <div id='trim'></div>
	  <div id='smooth'></div>
	  <div id='plot'>
	    Data is not available. Please wait.
	  </div>  
	</div>
      </div>
      <div id='helper'>
        <div id='help' class='cta'>
	  Definitions:
	  <ul>
	    <li><b>Highest new stories</b> - is an average of 5 highest ranked stories on the HN <b>newest</b> page; indirectly, it measures how many new competing stories there are or how many "submitters" are currently submitting. </li>
	    <li><b>Lowest best stories</b> - is an average of 5 lowest ranked stories on the HN <b>news</b> page; indirectly, it measures how many fresh stories there are or how many "up-voters" are currently upvoting. </li>
	    <li><b>Pickup ratio</b> - is equal to <i>Highest new stories</i> divided by <i>Lowest best stories</i>; this measures what is your chance of getting to the first page; You want a lot of "up-voters" to be clicking and very few "submitters" to be submitting. </li>
	    <li><b>Now it's ... time</b> - gives four recommendation based on four quantiles of <i>Pickup ratio</i> values that are gathered over many days from HN. </li>
	  </ul>
	  Data Mining provides quantiles (percentiles). Based on three quantiles system generates four recommendations for submitting a new story: <i>very good</i>, <i>good</i>, <i>so-so</i>, and <i>bad</i>.
	</div>
      </div>
    </div>
    <a id='back' href='http://news.ycombinator.com/submit'>Now it's <span id='timing'>...</span> time to submit a story</a>
  </div>
  </body>
</html>
