body { 
  font: 16px "Lucida Grande", Sans-Serif; 
  color: #FFFFFF;
  background-color: #BCB9B7;
  margin: 0;
  padding: 0;
  text-align: center;
}
#main {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
#title {
  margin: 0;
  padding: 0;
  text-shadow: 0 0 5px white;
  font-weight: 800;
  font-size: 1.2em;
}
#grapher, #graph, #help, #helper, #flip {
  margin: 0;
  padding: 0;
  margin-top: 1px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 500px; 
  height: 200px; 
  font-size: 0.84em;
  border: 1px solid #BCB9B7; 
}
#help {
  text-align: left;
  padding: 10px 20px 35px 20px;
  width: 460px;
  height: 155px;
  background-color: #E5E1DE;
  color: #444444;
}
ul, li {
  list-style: none;
  padding: 2px;
  margin: 0;
}
ul li:before {
  content: "\00BB \0020";
}
#error {
  margin: 40px;
  padding: 40px;
  color: #807B77;
  font-size: 2.5em;
}
#back {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #807B77;
}
#timing {
  color: #444444;
}
#table {
  padding: 0;
  margin: 0;
  border: 1px solid #444444;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
#table td, tr {
  margin: 0;
  padding: 3px 7px 3px 7px;
  border: 1px solid #444444;
}

