/* 
Couple tweaks so the app works 
well on iOS - nothing on the 
screen should be selectable
*/
* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body { 
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #BCB9B7;
  font: 18px 'Lucida Grande', Sans-Serif; 
}
/* 
The idea is that we set up
viewport size in one place, 
for that we use pixels size,
the rest is set by percentages
*/
#main {
  margin: 0;
  padding: 0;
  width: 1196px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
}
/* 
Title with nice
litup effect
*/
#title {
  margin: 0;
  padding: 0;
  outline: none;
  color: white;
  display: block;
  margin-top: 1%;
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: 1%;
  text-decoration: none;
  text-shadow: 0 0 5px white;
}
/*
if we had an add
we would move it
to the far left
*/
#ads {
  margin: 0;
  padding: 0;
  margin-top: 10%;
  float: left;
}
/* 
This part if CSS defines 
display of elements inside 
inside the "flip" element
*/
#graph, #flip, #help {
  margin: 0;
  padding: 0;
  height: 400px; 
  width: 800px; 
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #BCB9B7; 
}
#plot {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  width: 90%; 
  height: 90%; 
}
#trim {
  margin-left: 10%;
  margin-bottom: 1%;
  width: 78%;
}
/* Label the trim slider */
#trim div {
  width: 0;
  height: 0;
  margin-top: 2px;
  margin-left: 45%;
  color: #888888;
  font-size: 0.5em;
}
#smooth {
  height: 76%;
  float: left;
  margin-top: 1%;
  margin-left: -1%;
}
/* Label the smooth slider */
#smooth div {
  -webkit-transform: rotate(-90deg);	
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  margin-left: 1px;
  margin-top: 1300%;
  color: #888888;
  font-size: 0.5em;
}
/* Axes labels */
#y_label_1 {
  -webkit-transform: rotate(-90deg);	
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: -25%;
  margin-left: -4%;
  float: left;
  color: #444444;
}
#y_label_2 {
  -webkit-transform: rotate(90deg);	
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: -25%;
  margin-right: -12%;
  text-transform: capitalize;
  width: 30%;
  float: right;
  color: #444444;
}
/* go to help */
#helper {
  position: relative;
  margin: 0;
  width: 4%;
  top: -89%;
  left: 86%;
  color: #807B77;
  font-size: 1.1em;
}
/* go back to graph*/
#grapher {
  position: relative;
  letter-spacing: -3px;
  margin: 0;
  width: 4%;
  top: -91%;
  left: 93%;
  color: #807B77;
  font-size: 0.8em;
}
#legend {
  margin: 0;
  padding: 0;
  width: 17%;
  opacity: 0.9;
  color: #444444;
  float: right;
  display: block;
  margin-top: -20%;
  line-height: 150%;
  font-size: 0.69em;
  text-align: left;
  background-color: #E5E1DE;
}
#definitions {
  margin: 1%;
  padding: 3%;
  width: 91%;
  height: 78%;
  opacity: 0.9;
  color: #444444;
  font-size: 0.8em;
  text-align: left;
  background-color: #E5E1DE;
}
ul, li {
  list-style: none;
  padding: 0;
  padding-bottom: 1%;
  margin: 0;
}
ul {
  padding-top: 1%;
}
ul li:before {
  content: '\00BB \0020';
}
#github {
  color: #807B77;
  text-decoration: none;
}
/*
These elements are
below the flip area
*/
#error {
  margin: 9%;
  padding: 9%;
  color: #807B77;
  font-size: 1.5em;
}
#recommendation {
  margin: 0;
  padding: 0;
  color: #444444;
  text-decoration: none;
}
#submit {
  color: #807B77;
}
#hnbutton {
  margin: 0;
  padding: 0;
  position: relative;
  top: 8px;
}
#hnpoints {
  margin: 0;
  padding: 0;
  color: #555555;
  font-size: 0.70em;
  display: block;
  margin-top: 1%;
}
/*
In the ETL & DM processes
we create an HTML table
in case we need to debug the
ETL & DM code
*/
#table {
  padding: 0;
  margin: 0;
  border: 1px solid #444444;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
#table td, tr {
  margin: 0;
  padding: 3px 7px 3px 7px;
  border: 1px solid #444444;
  text-align: left;
}

