<!DOCTYPE html>
<html>
  <head>
    <title>Hacker News Story Pickup Ratio</title>
    <meta name='description' content='When is good time to post on Hacker News? Use Pickup Ratio Recommendation System. Time series analysis and data mining.' />
    <link type='text/css' rel='stylesheet' href='/css/main.css' />
    <link rel='shortcut icon' href='/favicon.ico' />
  </head>
  <body>
  <div id='main'>
    <a id='title' href='/hnpickup_ratio_visual_analysis.png'>Hacker News Story Pickup Ratio</a>
    <div id='flip'>
      <!-- have error pages look similar to your home page -->
      <div id='error'>Page <span id='timing'>{{ path }}</span> does not exist.</div>
    </div>
    <a id='recommendation' href='/'>Go to home page</a>
  </div>
  </body>
</html>
